<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Application</title>
    <style>
      body {
        font-size: 13px;
      }
      .btn {
        padding-top: 15px;
        gap: 20px;
        display: flex;
        justify-content: center;
      }
      .flex {
        display: flex;
        gap: 5px;
      }
      p {
        margin: 0;
      }
      .main{
        position: relative;
      }
      .addbtn{
        position: absolute;
        right: 10px;
        top: 0px;
      }
    </style>
  </head>
  <body>
    <div>
      <h2>Job Application Form</h2>
    </div>
    <p id="text"></p>
    <div>
      <form action="/userDetails/validate" name="job-appllication" id="form" method="post">
        <div>
          <fieldset>
            <legend style="font-weight: bold">Basic Details</legend>
            <table>
              <tr>
                <input type="hidden" name="id" id="id" value="<%=data[0] %>">
                <td>
                  <label for="fname">First Name:</label>
                </td>
                <td class="flex">
                  <input type="text" name="fname" id="fname" class="valid" value="<%=data[1]%>"/>
                </td>
                <td>
                  <label for="lname">Last Name:</label>
                </td>
                <td class="flex">
                  <input type="text" name="lname" id="lname" class="valid" value="<%=data[2]%>"/>
                </td>
                <td>
                  <label for="designation">Designation:</label>
                </td>
                <td class="flex">
                  <input
                    type="text"
                    name="Cdesignation"
                    id="designation"
                    class="valid"
                    value="<%=data[3]%>"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="email">Email ID:</label>
                </td>
                <td class="flex">
                  <input type="text" name="email" id="email" class="valid" value="<%=data[4]%>"/>
                  <p class="msg"></p>
                </td>
                <td>
                  <label for="pNo">Phone Number:</label>
                </td>
                <td class="flex">
                  <input type="text" name="pNo" id="pNo" class="valid" value="<%=data[5] %>"/>
                  <p class="msg"></p>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="address">Address:</label>
                </td>
                <td colspan="5">
                  <textarea
                    name="addr"
                    id="addr"
                    cols="100"
                    rows="2"
                    class="valid"
                  ><%=data[6]%></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="city">City:</label>
                </td>
                <td class="flex">
                  <input type="text" name="city" id="city" class="valid" value="<%=data[7] %>"/>
                </td>
                <td>
                  <label for="state">State:</label>
                </td>
                <td class="flex">
                  <input type="text" name="state" id="state" class="valid" value="<%=data[8]%>"/>
                </td>
                <td>
                  <label for="zipcode">Zipcode:</label>
                </td>
                <td class="flex">
                  <input
                    type="text"
                    name="zipcode"
                    id="zipcode"
                    class="valid"
                    value="<%=data[9] %>"
                  />
                </td>
              </tr>
              <tr>
                <%-Gender%> <%-relationship %>
                <td>
                  <label for="DOB">Date of Birth:</label>
                </td>
                <td class="flex">
                  <input type="date" name="DOB" id="DOB" class="valid" value="<%=data[12]%>"/>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend style="font-weight: bold">Education Details</legend>
            <table>
              <input type="hidden" name="eid" id="id" value="<%=eddata[4] %>">
              <td colspan="6">
                <label for="ssc">SSC Result:</label>
              </td>
              <tr>
                <td>
                  <input type="hidden" name="etype" id="SSC" value="SSC">
                </td>
                <td>
                  <label for="Sname">Name of School:</label>
                </td>
                <td>
                  <input type="text" name="Sname" id="SNOB" class="valid" value="<%=eddata[0] %>"/>
                </td>
                <%-scourse %>
                <td>
                  <label for="Year">Passing Year:</label>
                </td>
                <td>
                  <input type="text" name="Year" id="SPY" class="valid" value="<%=eddata[2] %>"/>
                </td>
                <td>
                  <label for="Percentage">Percentage:</label>
                </td>
                <td>
                  <input
                    type="text"
                    name="Percentage"
                    id="SPR"
                    placeholder="Ex.98.9"
                    class="valid"
                    value="<%=eddata[3]%>"
                  />
                </td>
              </tr>
            </table>
            <hr />
            <table>
              <input type="hidden" name="eid" id="id" value="<%=eddata[9] %>">
              <td colspan="6">
                <label for="hsc">HSC/Diploma Result:</label>
              </td>
              <tr>
                <td>
                  <input type="hidden" name="etype" id="HSC" value="HSC">
                </td>
                <td>
                  <label for="Sname">Name of School:</label>
                </td>
                <td>
                  <input type="text" name="Sname" id="HNOB" class="valid" value="<%=eddata[5]%>"/>
                </td>
                <%-scourse %>
                <td>
                  <label for="Year">Passing Year:</label>
                </td>
                <td>
                  <input type="text" name="Year" id="HPY" class="valid" value="<%=eddata[7]%>"/>
                </td>
                <td>
                  <label for="Percentage">Percentage:</label>
                </td>
                <td>
                  <input
                    type="text"
                    name="Percentage"
                    id="HPR"
                    placeholder="Ex. 98.90"
                    class="valid"
                    value="<%=eddata[8]%>"
                  />
                </td>
              </tr>
            </table>
            <hr />
            <table>
              <input type="hidden" name="eid" id="id" value="<%=eddata[14] === 'undefineded' ? "" : eddata[14] %>">
              <td colspan="6">
                <label for="btect">Bachelor Degree:</label>
              </td>
              <tr>
                <td>
                  <input type="hidden" name="etype" id="BTECH" value="BTECH">
                </td>
                <%-ccourse %>
                <td>
                  <label for="Sname">University:</label>
                </td>
                <td>
                  <input type="text" name="Sname" id="Buniversity" value="<%=eddata[10] === 'undefined' ? "" : eddata[10] %>"/>
                </td>
                <td>
                  <label for="Year">Passing Year:</label>
                </td>
                <td>
                  <input type="text" name="Year" id="BPY" value="<%=eddata[12] === 'undefined' ? "" : eddata[12] %>"/>
                </td>
                <td>
                  <label for="Percentage">Percentage:</label>
                </td>
                <td>
                  <input
                    type="text"
                    name="Percentage"
                    id="BPR"
                    placeholder="Ex.98.90"
                    value="<%=eddata[13] === 'undefined' ? "" : eddata[13] %>"
                  />
                </td>
              </tr>
            </table>
            <hr />
            <table>
              <input type="hidden" name="eid" id="id" value="<%=eddata[19] === 'undefined' ? "": eddata[19] %>">
              <td colspan="6">
                <label for="mtect">Master Degree:</label>
              </td>
              <tr>
                <td>
                  <input type="hidden" name="etype" id="MTECH" value="MTECH">
                </td>
                <%-ccourse %>
                <td>
                  <label for="Sname">University:</label>
                </td>
                <td>
                  <input type="text" name="Sname" id="Muniversity" value="<%=eddata[15] === 'undefined' ? "" : eddata[15] %>"/>
                </td>
                <td>
                  <label for="Year">Passing Year:</label>
                </td>
                <td>
                  <input type="text" name="Year" id="MPY" value="<%=eddata[17] === 'undefined' ? "" : eddata[17] %>"/>
                </td>
                <td>
                  <label for="Percentage">Percentage:</label>
                </td>
                <td>
                  <input type="text" name="Percentage" id="MPR" placeholder="98.90" value="<%=eddata[18] === 'undefined' ? "" : eddata[18] %>"/>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>
        <div>
          <fieldset class="main">
            <legend style="font-weight: bold">Work Experience</legend>
            <input type="button" name="addrow" id="addrow" onclick="addExperienceDetailsRow()" value="Add More Row..." class="addbtn">
            <table id="workexp">
              <tr>
                <input type="hidden" name="wid" id="id" value="<%=wddata[4] === 'undefineded' ? "" : wddata[4]%>">
                <td>
                  <label for="companyname">Company Name:</label>
                </td>
                <td>
                  <input type="text" name="companyname" id="cname1" value="<%=wddata[0] === 'undefineded' ? "" : wddata[0] %>"/>
                </td>
                <td>
                  <label for="designation">Designation:</label>
                </td>
                <td>
                  <input type="text" name="designation" id="designation1" value="<%=wddata[1] === 'undefineded' ? "" : wddata[1] %>"/>
                </td>
                <td>
                  <label for="from">Starting Date:</label>
                </td>
                <td>
                  <input
                    type="text"
                    name="from"
                    id="from1"
                    placeholder="2024/01/01"
                    value="<%=wddata[2] === 'undefineded' ? "" : wddata[2] %>"
                  />
                </td>
                <td>
                  <label for="to">Leaving Date:</label>
                </td>
                <td>
                  <input
                    type="text"
                    name="to"
                    id="to1"
                    placeholder="2024/01/01"
                    value="<%=wddata[3] === 'undefineded' ? "" : wddata[3] %>"
                  />
                </td>
              </tr>
              <!-- <tr>
                <td>
                  <label for="companyname">Company Name:</label>
                </td>
                <td>
                  <input type="text" name="companyname" id="cname2" />
                </td>
                <td>
                  <label for="designation">Designation:</label>
                </td>
                <td>
                  <input type="text" name="designation" id="designation2" />
                </td>
                <td>
                  <label for="from">Starting Date:</label>
                </td>
                <td>
                  <input
                    type="text"
                    name="from"
                    id="from2"
                    placeholder="2024/01/01"
                  />
                </td>
                <td>
                  <label for="to">Leaving Date:</label>
                </td>
                <td>
                  <input
                    type="text"
                    name="to"
                    id="to2"
                    placeholder="2024/01/01"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="companyname">Company Name:</label>
                </td>
                <td>
                  <input type="text" name="companyname" id="cname3" />
                </td>
                <td>
                  <label for="designation">Designation:</label>
                </td>
                <td>
                  <input type="text" name="designation" id="designation3" />
                </td>
                <td>
                  <label for="from">Starting Date:</label>
                </td>
                <td>
                  <input
                    type="text"
                    name="from"
                    id="from3"
                    placeholder="2024/01/01"
                  />
                </td>
                <td>
                  <label for="to">Leaving Date:</label>
                </td>
                <td>
                  <input
                    type="text"
                    name="to"
                    id="to3"
                    placeholder="2024/01/01"
                  />
                </td>
              </tr> -->
            </table>
          </fieldset>
        </div>
        <div>
          <table>
            <tr>
              <td>
                <div>
                  <fieldset>
                    <legend style="font-weight: bold">Languages Known</legend>
                    <table>
                      <tr>
                        <td>
                          <p class="msg"></p>
                          <p class="msg"></p>
                        </td>
                      </tr>
                      <%-language %>
                    </table>
                  </fieldset>
                </div>
              </td>
              <td>
                <div>
                  <fieldset>
                    <legend style="font-weight: bold">
                      Technologies You Known
                    </legend>
                    <table>
                      <tr>
                        <td>
                          <p class="msg"></p>
                          <p class="msg"></p>
                        </td>
                        <%-technology %>
                      </tr>
                    </table>
                  </fieldset>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <fieldset class="main">
            <legend style="font-weight: bold">Reference Contact</legend>
            <input type="button" name="addrow" id="addrow" onclick="addReferenceDetailsRow()" value="Add More Row..." class="addbtn">
            <table id="refcon">
              <tr>
                <input type="hidden" name="rid" id="id" value="<%=rddata[3] === undefined ? "" : rddata[3]%>">
                <td>
                  <label for="rname">Name:</label>
                </td>
                <td>
                  <input type="text" name="rname" id="rname1" value="<%=rddata[0] %>"/>
                </td>
                <td>
                  <label for="cnum">Contact Number:</label>
                </td>
                <td>
                  <input type="text" name="cnum" id="cnum1" maxlength="10" value="<%=rddata[1] %>"/>
                </td>
                <td>
                  <label for="rel">Relation:</label>
                </td>
                <td>
                  <input type="text" name="rel" id="rel1" value="<%=rddata[2] %>"/>
                </td>
              </tr>
              <!-- <tr>
                <td>
                  <label for="rname">Name:</label>
                </td>
                <td>
                  <input type="text" name="rname" id="rname2" />
                </td>
                <td>
                  <label for="cnum">Contact Number:</label>
                </td>
                <td>
                  <input type="text" name="cnum" id="cnum2" maxlength="10" />
                </td>
                <td>
                  <label for="rel">Relation:</label>
                </td>
                <td>
                  <input type="text" name="rel" id="rel2" />
                </td>
              </tr> -->
            </table>
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend style="font-weight: bold">Preference</legend>
            <table>
              <input type="hidden" name="pid" id="id" value="<%=pddata[0] %>">
              <tr>
                <%-preferedcity %>
                <td>
                  <label for="dept">Department:</label>
                </td>
                <td>
                  <select name="dprt" id="dept">
                    <option value="">Choose Department:</option>
                    <optgroup label="Developer">
                      <option value="SoftwareDeveloper" <%=pddata[2] == "SoftwareDeveloper" ? 'selected' : "" %>>
                        Software Developer
                      </option>
                      <option value="WebeDeveloper" <%=pddata[2] == "WebeDeveloper" ? 'selected' : "" %>>Web Developer</option>
                      <option value="AndroidDeveloper" <%=pddata[2] == "AndroidDeveloper" ? 'selected' : "" %>>
                        Android Developer
                      </option>
                      <option value="FlutterDeveloper" <%=pddata[2] == "FlutterDeveloper" ? 'selected' : "" %>>
                        Flutter Developer
                      </option>
                    </optgroup>
                    <optgroup label="Design">
                      <option value="UI/UX" <%=pddata[2] == "UI/UX" ? 'selected' : "" %>>UI/UX</option>
                      <option value="Figma" <%=pddata[2] == "Figma" ? 'selected' : "" %>>Figma Designer</option>
                      <option value="Canva" <%=pddata[2] == "Canva" ? 'selected' : "" %>>Canva Designer</option>
                    </optgroup>
                    <optgroup label="Marketing">
                      <option value="BDE" <%=pddata[2] == "BDE" ? 'selected' : "" %>>Business Developer Executive</option>
                      <option value="BA" <%=pddata[2] == "BA" ? 'selected' : "" %>>Business Analiyst</option>
                      <option value="NetworkMarketing" <%=pddata[2] == "NetworkMarketing" ? 'selected' : "" %>>
                        Network Marketing
                      </option>
                    </optgroup>
                  </select>
                  <p class="msg"></p>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="NP">Notice Period:</label>
                </td>
                <td>
                  <input type="text" name="NP" id="NP" placeholder="In month" value="<%=pddata[4] === undefined ? "" : pddata[4] %>"/>
                  <p class="msg"></p>
                </td>
                <td>
                  <label for="ectc">Expacted CTC:</label>
                </td>
                <td>
                  <input type="text" name="ectc" id="ectc" class="valid" value="<%=pddata[3] %>"/>
                </td>
                <td>
                  <label for="cctc">Current CTC:</label>
                </td>
                <td>
                  <input type="text" name="cctc" id="cctc" value="<%=pddata[5] === undefined ? "" : pddata[5] %>"/>
                  <p class="msg"></p>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>
        <div class="btn">
          <input type="submit" name="submit" id="submit" value="SUBMIT" />
          <input type="reset" name="reset" id="reset" value="RESET" />
        </div>
      </form>
    </div>
    <script src="../../public/script/Job_Application_Form/script.js"></script>
  </body>
</html>