<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Generator</title>
</head>
<body>
    <div>
        <label for="<%=data[0]['select_key']%>"><%=data[0]['select_key']%> :</label>
        <select name="<%=data[0]['select_key']%>" id="<%=data[0]['select_key'] %>" <%=data[0]['multiselect'] %>>
            <option value="">Select</option>
            <% for( let i = 0; i < data.length; i++ ) { %>
                <option value="<%=data[i]['option_value']%>"><%=data[i]['option_value']%></option>
            <% } %>
        </select>
    </div>
</body>
</html>