<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h1>User Details</h1>
    <% for( let i = 0; i < data.length; i++ ) { %>
        <% if (data[i].id === id) { %>
            <p><%=data[i].fname%></p>
            <p><%=data[i].lname%></p>
            <p><%=data[i].age%></p>
            <p><%=data[i].number%></p>
            <p><%=data[i].email%></p>
            <p><%=data[i].address%></p>
            <p><%=data[i].gender%></p>
            <p><%=data[i].hobbies%></p>
        <% } %>
    <% } %>
</body>
</html>